.header {
  padding: 10px 0;
  margin-bottom: 5px;
  a {
    color: lightgrey;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .pro-galleries {
    color: white;
    font-size: 18px;
    padding-left: 5px;
    vertical-align: bottom;
  }
}