.menu {
  background-color: white;
  padding: 15px;
  text-align: center;
  a {
    color: black;
    margin: 0 5px;
    text-transform: uppercase;
  }

  i{
    opacity: 0.5;
  }
}

.signup-button {
  float: right;
  margin-top: -7px;
}