<div class="container center-block">
    @@include('partials\header.handlebars')
    <div class="page-frame">
        @@include('partials\menu.handlebars')
        <div id="content">

        </div>
        @@include('partials\footer.handlebars')
    </div>
    <h5 class="copyright">© 2016, Photobox. All rights reserved.</h5>
</div>