<div class="footer">
    <section class="footer__links">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <a>Take A Tour</a>
                <a>FAQs</a>
                <a>Help</a>
                <a>Terms of Use</a>
                <a>Privacy Policy</a>
                <a>Blog</a>
            </div>
            <div class="col-xs-12 col-sm-4 footer__icons">
                <a href="https://www.facebook.com/PhotoBoxPBX" target="_blank">
                    <img class="footer__icon" src="assets/images/footer-social-icons/facebook.png" alt="Facebook"
                         title="Facebook">
                </a>
                <a href="https://twitter.com/photobox" target="_blank">
                    <img class="footer__icon" src="assets/images/footer-social-icons/twitter.png" alt="Twitter"
                         title="Twitter">
                </a>
                <a href="https://plus.google.com/+photoboxcouk/posts" target="_blank">
                    <img class="footer__icon" src="assets/images/footer-social-icons/gplus.png" alt="Google+"
                         title="Google+">
                </a>
                <a href="https://www.youtube.com/user/photobox" target="_blank">
                    <img class="footer__icon" src="assets/images/footer-social-icons/youtube.png" alt="YouTube"
                         title="YouTube">
                </a>
            </div>
        </div>
    </section>
    <section class="footer__info">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <p>
                    Registered company address is Bridge House, 63-65 North Wharf Rd, London, W2 1LA. VAT number
                    GB115138543.
                    <br>
                    PLEASE NOTE: this is our registered company address, and should not be used for returns or customer
                    support
                    enquiries.
                </p>
                <p>
                    PhotoBox is Europe’s leading online digital photo printing service offering award-winning quality
                    prints
                    dispatched same day, plus unlimited photo sharing and free safe storage. PhotoBox also has an
                    extensive
                    range of personalised photo gifts and greeting cards.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 text-right">
                <a href="">
                    <img src="assets/images/photobox-logo-footer.png" alt="Photobox" title="Photobox">
                </a>
                <span class="pro-galleries">ProGalleries</span>
            </div>
        </div>

    </section>
</div>