<div class="header">
    <a href="">
        <img src="assets/images/photobox-logo.png" alt="Photobox" title="Photobox">
    </a>
    <span class="pro-galleries">ProGalleries</span>
    <div class="pull-right">
        <a>About</a>
        <a>Contact</a>
    </div>
</div>