<div class="menu">
    <a>Features</a>
    <a>Browse Galleries</a>
    <a id="login"><i class="glyphicon glyphicon-user"></i> Log In</a>

    <a href="#!/register">
        <button class="btn btn-success signup-button">
            <i class="glyphicon glyphicon-plus"></i>
            Sign Up
        </button>
    </a>
</div>